.heading {
  @include respond(medium-size) {
    max-width: 60rem;
  }
  &__title {
    color: #ffffff;
    font-weight: bold;
    font-size: 2.9rem;
    text-align: center;
    line-height: 105%;
    @include respond(small-size) {
      font-size: 4rem;
    }
  }

  &__subtitle {
    color: #ffffff;
    font-size: 1.7rem;
    text-align: center;
    margin-top: 1.3rem;
  }
}
