.header {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('../images/header.jpg');
  background-size: cover;
  background-position: center;
  min-height: 400px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond(medium-size) {
    margin-bottom: 3.5rem;
  }
}

.logo {
  width: 11rem;
  height: 6rem;
  background-image: url('../images/logo.png');
  background-size: cover;
  @include respond(small-size) {
    width: 13rem;
    height: 8rem;
  }
}

.header-story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-signup {
    max-width: 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include respond(medium-size) {
      max-width: 82rem;
    }
  }
}

.watch-on-tv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include respond(medium-size) {
    flex-direction: row;
  }

  &__animation-card {
    position: relative;
    height: 35rem;
  }
  &__image-container {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  &__image {
    width: 100%;
    object-fit: cover;
  }
  &__video-container {
    width: 85%;
    margin-left: 3.5rem;
    margin-top: 4.2rem;
    @include respond(small-size) {
      width: 80%;
      margin-top: 5.5rem;
      margin-left: 5rem;
    }
  }
  &__video {
    width: 100%;
    object-fit: cover;
  }
}

.images {
  width: 100%;
  object-fit: cover;
}

.faq-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq-list {
  width: 60%;
}
.faq-list__item {
  width: 100%;
  background-color: #303030;
  margin-bottom: 1rem;
}
.faq-question {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #303030;
  padding: 2rem;
  font-size: 2rem;
  border: none;
}
.faq-question:focus {
  outline: none;
}
.faq-answer {
  border-top: 1px solid black;
  padding: 1rem 2rem;
}
