@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;

  @include respond(small-size) {
    font-size: 75%;
  }

  @include respond(medium-size) {
    font-size: 80%;
  }
  background-color: #000000;
}
